.AccountPage
  = render "head_logo"
  .AccountPage__main
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", model: f.object
      %h2.AccountPage__main--text 新規会員登録
      .FormField
        .FormField__box
          .FormGroup
            %h3.FormGroup__text
              ユーザー情報
          .FormGroup
            .FormGroup__contents
              ニックネーム
              %span.mandatory
                必須 
            = f.text_field :nickname, class: "FormGroup__input", placeholder:"例) テック太郎"
          .FormGroup
            .FormGroup__contents
              メールアドレス
              %span.mandatory
                必須 
            = f.email_field :email, class: "FormGroup__input", placeholder:"PC・携帯どちらでも可"
          .FormGroup
            .FormGroup__contents
              パスワード
              %span.mandatory
                必須 
            = f.password_field :password, autocomplete: "off", class: "FormGroup__input", placeholder:"７文字以上の半角英字"
          .FormGroup
            .FormGroup__contents
              パスワード確認
              %span.mandatory
                必須
            = f.password_field :password_confirmation, autocomplete: "off", class: "FormGroup__input", placeholder:"７文字以上の半角英字"
          .FormGroup
            %h3.FormGroup__text 本人情報確認
            %p.FormGroup__text_box 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          = f.fields_for :profile do |f|
            .FormGroup
              .FormGroup__contents
                ユーザーの本名
                %span.mandatory
                  必須
            .FormGroupB
              .FormGroupB__contents
                = f.text_field :family_name, class: "FormGroupB__contents--FamilyName", placeholder:"例）亀田"
              .FormGroupB__contents
                = f.text_field :first_name, class: "FormGroupB__contents--FirstName", placeholder:"例）史郎"
            .FormGroup
              .FormGroup__contents
                ユーザーの本名のふりがな
                %span.mandatory
                  必須
            .FormGroupB
              .FormGroupB__contents
                = f.text_field :family_name_kana, class: "FormGroupB__contents--FamilyName", placeholder: "例）かめだ"
              .FormGroupB__contents
                = f.text_field :first_name_kana, class: "FormGroupB__contents--FirstName", placeholder: "例）しろう"
            .FormGroup
              .FormGroup__contents
                生年月日
                %span.mandatory
                  必須
            .FormGroupC
              .FormGroupC__contents
                = raw sprintf(f.date_select(:birth_day,with_css_classes:'FormGroupC__contents--date',use_month_numbers: true,prompt:'--',start_year: 1930,end_year: (Time.now.year - 5),date_separator: '%s'),"<p>年</p>", "<p>月</p> ") + "<p>日</p> " 
            .FormText
              %p.FormText__box
                ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
            .FormGroup
              .FormGroup__text
                %h3.FormGroup__text 本人送付先住所情報
            .FormGroup
              .FormGroup__contents
                送付先氏名
                %span.mandatory
                  必須
            .FormGroupB
              .FormGroupB__contents
                = f.text_field :destination_family_name, class: "FormGroupB__contents--FamilyName", placeholder: "例）マンモス"
              .FormGroupB__contentsb
                = f.text_field :destination_first_name, class: "FormGroupB__contents--FirstName", placeholder:"例）西"
            .FormGroup
              .FormGroup__contents
                送付先氏名のふりがな
                %span.mandatory
                  必須
            .FormGroupB
              .FormGroupB__contentsb
                = f.text_field :destination_family_name_kana, class: "FormGroupB__contents--FamilyName", placeholder:"例）まんもす"
              .FormGroupB__contentsb
                = f.text_field :destination_first_name_kana, class: "FormGroupB__contents--FirstName", placeholder:"例）にし"
            .FormGroup
              .FormGroup__contents
                郵便番号
                %span.mandatory
                  必須 
              = f.text_field :post_code, class: "FormGroup__input", placeholder:"例）1200009"
            .FormGroup
              .FormGroup__contents
                都道府県
                %span.mandatory
                  必須
            = f.select :city, [["北海道", "北海道"],["青森県", "青森県"],["岩手県", "岩手県"],["宮城県", "宮城県"],["秋田県", "秋田県"],["山形県", "山形県"],["福島県", "福島県"],["茨城県", "茨城県"],["栃木県", "栃木県"],["群馬県", "群馬県"],["埼玉県", "埼玉県"],["千葉県", "千葉県"],["東京都", "東京都"],["神奈川県", "神奈川県"],["新潟県", "新潟県"],["富山県", "富山県"],["石川県", "石川県"],["福井県", "福井県"],["山梨県", "山梨県"],["長野県", "長野県"],["岐阜県", "岐阜県"],["静岡県", "静岡県"],["愛知県", "愛知県"],["三重県", "三重県"],["滋賀県", "滋賀県"],["京都府", "京都府"],["大阪府", "大阪府"],["兵庫県", "兵庫県"],["奈良県", "奈良県"],["和歌山県", "和歌山県"],["鳥取県", "鳥取県"],["島根県", "島根県"],["岡山県", "岡山県"],["広島県", "広島県"],["山口県", "山口県"],["徳島県", "徳島県"],["香川県", "香川県"],["愛媛県", "愛媛県"],["高知県", "高知県"],["福岡県", "福岡県"],["佐賀県", "佐賀県"],["長崎県", "長崎県"],["熊本県", "熊本県"],["大分県", "大分県"],["宮崎県", "宮崎県"],["鹿児島県", "鹿児島県"],["沖縄県", "沖縄県"]], { include_blank: true, selected: "東京都"} , {class: "FormGroupD"}               
            .FormGroup
              .FormGroup__contents
                市区町村
                %span.mandatory
                  必須 
              = f.text_field :prefecture, class: "FormGroup__input", placeholder:"例）葛飾区亀有"
            .FormGroup
              .FormGroup__contents
                番地
                %span.mandatory
                  必須 
              = f.text_field :house_number, class: "FormGroup__input", placeholder:"例）公園前派出所1-1-1"
            .FormGroup
              .FormGroup__contents
                建物名
                %span.any
                  任意 
              = f.text_field :building_name, class: "FormGroup__input", placeholder:"例）ハイツ亀有103"
            .FormGroup
              .FormGroup__contents
                電話番号
                %span.any
                  任意
              = f.telephone_field :phone_number, class: "FormGroup__input", placeholder:"例）09012123434"
        .FormField__contents
          = f.submit "登録する", class: "FormField__contents--box"
    .AccountPage__etc
      = render "foot_logo"