.AccountPage
  = render "/devise/registrations/head_logo"
  -# config/breadcrumbs.rbに定義したmypageを呼び出し
  - breadcrumb :mypage
  -# 下記を記述した箇所にパンくずリストが表示される。
  = render "layouts/breadcrumbs"
  .wrapper
    = render "side_bar"
    = render "main_content"
  .AccountPage__etc
    = render "/devise/registrations/foot_logo"