.AccountPage
  = render "devise/registrations/head_logo"
  .ConfirmPurchaseDetailsArea
    %section.contents
      %h2.contents__headerTitle
        購入内容の確認
    = render "item_info", item:@item, images:@images
    %section.contents
      .contents__payment
        %span.contents__payment--paymentAmount
          支払い金額
        %span.contents__payment--money
          ¥
          = @item.price
    .credit_card_text
      .credit_card_text__box
        登録クレジットカード情報
    .credit_card__list
      .credit_card__list--frame
        .credit_card_info
          .credit_card_info__brand
            = image_tag "#{@card_src}", class: "credit_card_info__brand--img", alt: @card_brand
          .credit_card_info__numbers
            .number
              = "**** **** **** " + @customer_card.last4
            .expiration_date
              .expiration_date__title
                有効期限
              .expiration_date__info
                = @exp_month + " / " + @exp_year
    .confirm_btn
      .confirm_btn__box
        = link_to "購入する", item_purchases_path(item_id: @item.id), class: "confirm_btn__box__buy", method: :post
    -# %section.contents
    -#   .contents__paymentMethod
    -#     %h3.contents__paymentMethod--methodOfPayment
    -#       支払い方法
    -#     %p.contents__paymentMethod--change
    -#       変更する
    -#       = link_to '#', class: 'angle-right' do
    -#         = icon('fas', 'angle-right')
    -# %section.contents
    -#   .contents__shippingAddress
    -#     %h3.contents__shippingAddress--destination
    -#       配送先
    -#     %p.contents__shippingAddress--change
    -#       変更する
    -#       = link_to '#', class: 'angle-right' do
    -#         = icon('fas', 'angle-right')
    -# %section.contents
    -#   %input.contents__box{ type:"submit", value:"購入する" }
  .AccountPage__etc
    = render "devise/registrations/foot_logo"