.AccountPage
  = render "devise/registrations/head_logo"
  - breadcrumb :user_session
  = render "layouts/breadcrumbs"
  .AccountPage__SignInMain
    .SignInForm
      .SignInForm__title
        %p.SignInForm__title--text 
          アカウントをお持ちでない方はこちら
        = link_to '新規会員登録', new_user_registration_path, class: "SignInForm__title--button"
      .SignInForm__box
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .FormContents
            = f.email_field :email, class: "FormContents__box", placeholder:"メールアドレス"
          .FormContents
            = f.password_field :password, autocomplete: "off", class: "FormContents__box", placeholder:"パスワード"
          .FormContents
            = f.submit "ログイン", class: "FormContents__button"
  .AccountPage__etc
    = render "devise/registrations/foot_logo"
