%li.SellingItemArea
  = link_to item_path(item.id), method: :get do
    .SellingItemArea__src
      = image_tag (item.images[0].src.url), class: "SellingItemArea__src__box"
      - if item.purchase.present?
        .photo_sold
          .photo_sold__inner
            SOLD
      .SellingItemArea__src__price
        ¥
        = item.price
    .SellingItemArea__name
      .SellingItemArea__name__box
        = item.name
      = link_to "削除", item_path(item), method: :delete