.SellingItemArea
  = link_to item_path(item.id), method: :get do
    = item.name
    = item.price
    - if item.purchase != nil
      = "売却済み"
    - else
      = "出品中"

  - item.images.each do |image|
    = image_tag image.src.url
  = link_to '編集', edit_item_path(item)
  = link_to '削除', item_path(item), method: :delete