%header.pageHeader
  .headerContainer
    .topHeader
      %h1.icon
        %a{"href":'#', class: "icon__furima-logo"} 
          = image_tag 'logo.png'
      .searchBlock
        %form
          %input.searchBlock__input{placeholder: "キーワードから探す"}
          %button{"type": "submit"}
            .searchBlock__icon
              = image_tag 'icon-search 1.png'
    .nav
      %ul.leftLists
        %li.leftLists__cattab
          %a#catTab{"href": "#"}
            カテゴリー
        %li.leftLists__bratab
          %a#branbTab{"href": "#"}
            ブランド
      %ul.rightLists
        %li.rightLists__login
          %a{"href": "#"}
            ログイン
        %li.rightLists__signup
          .rightLists__item--signup
            %a{"href": "#"}
              新規会員登録


.mainContainer
  %section.topVisual
    .content
      %h2.content__eyecatch
        人生を変えるフリマアプリ
      %p.content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .content__banners
        %a.appBtn{"href":'#'}
          = image_tag 'App_Store_Badge.png'
        %a.gooBtn{"href":'#'}
          = image_tag 'google-play-badge.png'


  %section.serviseIntroduction
    %h2.subtitle
      FURIMAが選ばれる3つの理由
    %ul.reasonsLists
      %li.list
        .list__image
          %span.number 1
          = image_tag 'pict-reason-01.jpg'
        %h3.list__text
          %span ３分
          ですぐに出品
        %p.list__description
          スマホで入力するだけで簡単に出品できる

      %li.list
        .list__image
          %span.number 2
          = image_tag 'pict-reason-02.jpg'
        %h3.list__text
          %span シンプル
          で使いやすい
        %p.list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！

      %li.list
        .list__image
          %span.number 3
          = image_tag 'pict-reason-03.jpg'
        %h3.list__text
          手数料
          %span 業界最安
        %p.list__description
          最大3%でお得に出品&購入！
          
        
  %section.appsDLarea
    .contents
      %h2.subtitle 会員数日本一位
      %p.text
        FURIMAは、フリマアプリで最も人気。
        %br/
        出品・購入回数も業界最多です！
        %br/
        ほしかったあの商品に出会えるかもしれません。
      .banners
        %a.appBtn{"href":'#'}
          = image_tag 'App_Store_Badge.png'
        %a.gooBtn{"href":'#'}
          = image_tag 'google-play-badge.png'

  %section.serviceFeatures
    %h2.title FURIMAの特徴
    .features
      .feature
        %figure.feature__img
          = image_tag 'icon-01.png'
        %h3.feature__subtitle 簡単に売り買いできる
        %p.feature__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .feature
        %figure.feature__img
          = image_tag 'icon-03.png'
        %h3.feature__subtitle 売上金は即日振込みに対応
        %p.feature__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .feature
        %figure.feature__img
          = image_tag 'icon-04.png'
        %h3.feature__subtitle 様々な支払いに対応
        %p.feature__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。


  %section.pickupField
    %h2.head ピックアップカテゴリー
    .itemBlock
      .itemHead
        %a{"href": "#"}
          %h3.title 新規投稿商品
      .itemLists
        .itemList
          %a{"href": "#"}
            %figure.itemList--img
              = image_tag 'beef.jpg'
            .itemList--body
              %h3.title テスト
              .details
                %ul
                  %li 10000円
                  %li 
                    %i.fa.fa-star.likeIcon

                %p （税込み）
        .itemList
          %a{"href": "#"}
            %figure.itemList--img
              = image_tag 'beef.jpg'
            .itemList--body
              %h3.title テスト
              .details
                %ul
                  %li 10000円
                  %li
                    %i.fa.fa-star.likeIcon
                  1
                %p （税込み）
        .itemList
          %a{"href": "#"}
            %figure.itemList--img
              = image_tag 'beef.jpg'
            .itemList--body
              %h3.title テスト
              .details
                %ul
                  %li 10000円
                  %li
                    %i.fa.fa-star.likeIcon
                      1
                %p （税込み）
        .itemList
          %a{"href": "#"}
            %figure.itemList--img
              = image_tag 'beef.jpg'
            .itemList--body
              %h3.title テスト
              .details
                %ul
                  %li 10000円
                  %li
                    %i.fa.fa-star.likeIcon
                      1
                %p （税込み）
        .itemList
          %a{"href": "#"}
            %figure.itemList--img
              = image_tag 'beef.jpg'
            .itemList--body
              %h3.title テスト
              .details
                %ul
                  %li 10000円
                  %li
                    %i.fa.fa-star.likeIcon
                      1
                %p （税込み）
  %section.pickupField
    %h2.head ピックアップカテゴリー
    .itemBlock
      .itemHead
        %a{"href": "#"}
          %h3.title 新規投稿商品
      .itemLists
        .itemList
          %a{"href": "#"}
            %figure.itemList--img
              = image_tag 'beef.jpg'
            .itemList--body
              %h3.title テスト
              .details
                %ul
                  %li 10000円
                  %li
                    %i.fa.fa-star.likeIcon
                      1
                %p （税込み）
        .itemList
          %a{"href": "#"}
            %figure.itemList--img
              = image_tag 'beef.jpg'
            .itemList--body
              %h3.title テスト
              .details
                %ul
                  %li 10000円
                  %li
                    %i.fa.fa-star.likeIcon
                      1
                %p （税込み）
        .itemList
          %a{"href": "#"}
            %figure.itemList--img
              = image_tag 'beef.jpg'
            .itemList--body
              %h3.title テスト
              .details
                %ul
                  %li 10000円
                  %li
                    %i.fa.fa-star.likeIcon
                      1
                %p （税込み）
        .itemList
          %a{"href": "#"}
            %figure.itemList--img
              = image_tag 'beef.jpg'
            .itemList--body
              %h3.title テスト
              .details
                %ul
                  %li 10000円
                  %li
                    %i.fa.fa-star.likeIcon
                      1
                %p （税込み）
        .itemList
          %a{"href": "#"}
            %figure.itemList--img
              = image_tag 'beef.jpg'
            .itemList--body
              %h3.title テスト
              .details
                %ul
                  %li 10000円
                  %li
                    %i.fa.fa-star.likeIcon
                      1
                %p （税込み）


%aside.appBannersarea
.footer