.AccountPage
  = render "devise/registrations/head_logo"
  .ConfirmPurchaseDetailsArea
    %section.contents
      %h2.contents__headerTitle
        購入内容の確認
    %section.contents
      .contents__item
        .image
          = image_tag 'beef.jpg', size: "80x80"
        .text
          %p.text__product
            ★高級ステーキ
          %P.text__price
            %span.text__price--shippingTaxIncluded
              送料込み (税込み)
            %span.text__price--total
              ¥5,000
    %section.contents
      .contents__payment
        %span.contents__payment--paymentAmount
          支払い金額
        %span.contents__payment--money
          ¥5,000
    %section.contents
      .contents__paymentMethod
        %h3.contents__paymentMethod--methodOfPayment
          支払い方法
        %p.contents__paymentMethod--change
          変更する
          = link_to '#', class: 'angle-right' do
            = icon('fas', 'angle-right')
    %section.contents
      .contents__shippingAddress
        %h3.contents__shippingAddress--destination
          配送先
        %p.contents__shippingAddress--change
          変更する
          = link_to '#', class: 'angle-right' do
            = icon('fas', 'angle-right')
    %section.contents
      %input.contents__box{ type:"submit", value:"購入する" }
  .AccountPage__etc
    = render "devise/registrations/foot_logo"